*.TMP
*.suo
*.ide*
*.cache
*.dll
Source/MoodndBehaviorsAndEvents/.vs/MoodndBehaviorsAndEvents/v15/.suo
*.ide-shm
*.ide-wal
*.cache
*.csproj
*.ide-wal
*.ide-shm
Source/MoodndBehaviorsAndEvents/.vs/MoodndBehaviorsAndEvents/v15/.suo
*.cache
